/* TODO make scaling relative to work on smaller screens */

:root {
  --background: rgb(30, 30, 30);
  --background-select: rgb(56, 56, 56);
  --overlay-background: rgba(30, 30, 30, 0.9);
}

body {
  margin: 0;
  user-select: none;
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  color: white;
  overflow: hidden;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
}

img {
  border-radius: 3px;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

table {
  color: white;
  margin: 1px;
}

td {
  margin: 3px;
  border-radius: 3px;
  padding: 3px;
  background-color: var(--background);
}

p {
  margin: 0;
  color: white;
}

a {
  color: cyan;
}

a:visited {
  color: white;
}

.controls-left {
  text-align: left;
}

.controls-right {
  text-align: right;
}

#hotbar {
  display: block;
  position: absolute;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 35px;
  padding-left: 35px;
}

#top-bar {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  top: 0;
  left: 0;
  right: 0;

  justify-content: center;
  gap: 3px;
}

#top-bar img {
  width: 30px;
  height: 30px;
  margin-top: -2px;
  margin-bottom: -7px;
}

.top-bar-divider {
  display: inline-block;
  width: 40px;
}

.top-bar-element {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--background);
  height: fit-content;
  min-width: 30px;
  min-height: 30px;
}

.top-bar-element:active {
  background-color: rgb(10, 10, 10);
}

.top-bar-element:hover {
  cursor: pointer;
}

#top-bar-toggle-parts {
  background-color: transparent;
  padding: 0;
}

#top-bar-toggle-parts:hover {
  cursor: unset;
}

#toggle-parts-info {
  padding: 5px;
  border-radius: 3px;
  background-color: var(--background);

  position: relative;
  top: 0;
  z-index: 10;
}

.toggle-part {
  padding: 5px;
  border-radius: 3px;
  background-color: var(--background);

  transition-property: transform;
  transition-duration: 0.2s;
}

.toggle-part:active {
  background-color: rgb(10, 10, 10);
}

.toggle-part:hover {
  cursor: pointer;
}

#toggle-parts-container {
  display: flex;
  flex-direction: column;
  gap: 3px;

  position: absolute;
  top: -209px;

  clip-path: polygon(0 209px, 100% 209px, 100% 500px, 0 500px);
}

#toggle-parts-container:hover {
  height: 500px;
}

#top-bar-toggle-parts:hover #toggle-parts-container .toggle-part {
  transform: translateY(251px);
}

#dom-element {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

#controls {
  position: absolute;
  bottom: -550px;
  transition-property: transform;
  transition-duration: 0.2s;
}

#controls:hover {
  transform: translateY(-88.23%);
  z-index: 2;
}

#color-picker {
  position: absolute;
  z-index: 1;
  margin: 3px;
}

#color-picker .color-value .color-label {
  transition-property: transform;
  transition-duration: 0.2s;
}

#color-picker:hover .color-value .color-label {
  transform: translateX(-110%);
}

#alpha-checker {
  position: absolute;
  left: 3px;
  top: 213px;
}

#result-checker {
  position: absolute;
  left: 3px;
  top: 248px;
}

#texture-area {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin: 3px;
}

#texture-skin-type-container {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: center;
  margin-bottom: 3px;
  gap: 3px;
}

.texture-skin-type {
  display: inline-block;
  background-color: var(--background);
  border-radius: 3px;
  padding: 3px;
  flex-grow: 1;
}

.texture-skin-type:hover {
  cursor: pointer;
}

.texture-skin-type:active {
  background-color: rgb(10, 10, 10);
}

#show-canvas {
  grid-row-start: 2;
  grid-column-start: 1;
  image-rendering: pixelated;
  border-radius: 0;
}

#texture-checker {
  grid-row-start: 2;
  grid-column-start: 1;
  image-rendering: pixelated;
  border-radius: 0;
}

.layer {
  margin-top: 3px;
  border-radius: 3px;
  padding: 3px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layer:hover {
  cursor: pointer;
}

.layer-canvas {
  float: right;
}

#layer-options {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3px;
  height: 40px;
}

.layer-option {
  background-color: var(--background);
  border-radius: 3px;
  margin-top: 3px;
  padding: 3px;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}

.layer-option img {
  width: 30px;
  height: 30px;
}

.layer-option:hover {
  cursor: pointer;
}

.layer-option:active {
  background-color: rgb(10, 10, 10);
}

#save-div {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 100;

  background-color: var(--overlay-background);

  text-align: center;
}

#save-inner-div {
  margin: auto;
  margin-top: 20vh;
}

#save {
  position: absolute;
  height: 32px;
  right: 0;
  cursor: pointer;
}

.color-canvas {
  border-radius: 3px;
}

.color-value {
  height: 32px;
  margin-bottom: 3px;
  display: flex;
  align-items: flex-start;
}

.color-label {
  position: absolute;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 3px;
  height: 32px;
  padding-left: 3px;
  padding-right: 3px;
}

.arrow-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

canvas {
  border: 0;
  padding: 0;
}

input {
  margin: 0;
  border: 0;
  padding: 0;
  padding-left: 3px;
  outline: none;
  margin-left: 3px;
  height: 32px;
  width: 110px;
  line-height: 32px;
  font-size: 24px;
  background-color: var(--background);
  color: white;
  border-radius: 3px;
}

.up {
  vertical-align: top;
  margin-left: 2px;
  margin-top: 2px;
  height: 14px;
  cursor: pointer;
}

.down {
  vertical-align: bottom;
  margin-left: 2px;
  margin-bottom: 2px;
  height: 14px;
  cursor: pointer;
}

#skin-type-select {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  text-align: center;
}

#skin-type-classic {
  float: left;
  width: 50%;
  height: 100%;
}

#type-classic-inner {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#skin-type-slim {
  float: right;
  width: 50%;
  height: 100%;
}

#type-slim-inner {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#skin-type-select p {
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

#skin-type-select-info {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}

.skin-type:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
}

#drag-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 102;
  background-color: var(--overlay-background);
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  padding-top: 20vh;
}
