body {
  margin: 0;
  user-select: none;
  font-size: 24px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;

  border-radius: 3px;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

table {
  color: white;
}

td {
  margin: 3px;
  border-radius: 3px;
  padding: 3px;
  background-color: rgb(19, 19, 19);
}

#dom-element {
  position: absolute;
  z-index: -1;
}

#controls {
  position: absolute;
  bottom: 0;
}

#color-picker {
  position: absolute;
  z-index: 1;
  margin: 3px;
}

#alpha-checker {
  position: absolute;
  left: 3px;
  top: 213px;
}

#result-checker {
  position: absolute;
  left: 3px;
  top: 248px;
}

#texture-area {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3px;
}

#texture-canvas {
  position: absolute;
  right: 0;
  image-rendering: pixelated;
  border-radius: 0;
}

#texture-checker {
  right: 0;
  image-rendering: pixelated;
  border-radius: 0;
}

#skin-name {
  width: 30%;
  left: 0;
  right: 0;
  margin-top: 3px;
}

#skin-name-input {
  box-sizing: border-box;
  right: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

#skin-name-png {
  position: absolute;
  display: inline;
  right: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 38px;
  color: white;
}

#save {
  position: absolute;
  height: 32px;
  right: 0;
  cursor: pointer;
}

.color-canvas {
  border-radius: 3px;
}

.color-value {
  height: 32px;
  margin-bottom: 3px;
  display: flex;
  align-items: flex-start;
}

.arrow-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

canvas {
  border: 0;
  padding: 0;
}

input {
  margin: 0;
  border: 0;
  padding: 0;
  padding-left: 3px;
  outline: none;
  margin-left: 3px;
  height: 32px;
  width: 99px;
  line-height: 32px;
  font-size: 24px;
  vertical-align: top;
  left: 0;
  right: auto;
  background-color: rgb(19, 19, 19);
  color: white;
  border-radius: 3px;
}

.up {
  vertical-align: top;
  margin-left: 2px;
  margin-top: 2px;
  height: 14px;
  cursor: pointer;
}

.down {
  vertical-align: bottom;
  margin-left: 2px;
  margin-bottom: 2px;
  height: 14px;
  cursor: pointer;
}
